.heder-mob {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}

.heder-mob-button {
  background-color: transparent;
  border: 0;
}

.heder-mob-wrup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.heder-mob-tel {
  font-family: "Roboto";
  font-style: normal;
  @include font(800, 13px, 1.15);
  color: var(--text-color);
}

.heder-mob-link {
  font-family: "Roboto";
  font-style: normal;
  @include font(300, 11px, 1.18);
  color: var(--text-color);
}
